{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://realityreviewdotblog.files.wordpress.com/2020/04/w1-5.png?w=1200')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi. My name is Esme-James Newton and this is my blog. I love writing and legos. I really like space (that's why there are so many pictures of it in the blog).</p>
        <p>My big sister, Estella, made this blog for me. Isn't it awesome? I like to code too, but not as much as her. Estella's amazing.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}